ConsoleApplication1/Service References/OacIntegrationService/Appointments2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/OacIntegrationService/Appointments.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oac.IntegrationService.Contracts.Data" />
  <xs:element name="GetAppointmentsForOLTIntegration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
        <xs:element minOccurs="0" name="lastUpdated" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="accessCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentsForOLTIntegrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Oac.IntegrationService.Contracts.Data" minOccurs="0" name="GetAppointmentsForOLTIntegrationResult" nillable="true" type="q1:ArrayOfAppointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointmentID" type="xs:int" />
        <xs:element minOccurs="0" name="accessCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoShow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointmentID" type="xs:int" />
        <xs:element minOccurs="0" name="accessCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoShowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NoShowResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>